@charset "EUC-KR";

body{
	background-color: #f1f1f1;
	display:flex;
	justify-content:center;
	flex-direction: column;
}
.mainBoard{
	display:flex;
	flex-direction: row;
	width:auto;
	height:auto;
	margin-left: 40px;
	margin-right: 40px;
	
}
.leftBoard{
	display:flex;
	text-align:center;
	align-items:center;
	flex-direction: column;
	width:auto;
	height:auto;
	padding: 30px;
	background-color:white;
	outline: gray solid 1px;
	font-weight: 600;
	font-size: large;
}
.rightBoard{
	background-color:white;
	display:flex;
	flex-direction: column;
	flex: 1 0 auto;
	outline: gray solid 1px;
}
table{
	margin:5px;
	border-collapse: collapse;
}
tr,td{
	outline: gray solid 1px;
}
.regalia{
	width:150px;
	height:150px;
}