@charset "EUC-KR";

body{
	background-color: gray;
	display:flex;
	align-items:center;
	justify-content:center;
	flex-direction: column;
}
table{
	text-align: center;
}
tr,td{
	text-align: center;
	outline-style: solid;
	outline-color: black;
	outline-width: 1px;
	width:100px;
	height: 30px;
}
.paging{
		
}