@charset "EUC-KR";

body{
	background-color: white;
	display:flex;
	justify-content:center;
	flex-direction: column;
}
.mainBoard{
	background-color:gray;
	display:flex;
	flex-direction: row;
	width:auto;
	height:auto;
}
.rightBoard{
	display:flex;
	width:300px;
	height:400px;
	justify-content: center;
	font-weight: 900;
	font-size: large;
}
.leftBoard{
	background-color:blue;
	display:flex;
	flex: 1 0 auto;
}