<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.spring.mapper.GuestMapper">
	<!-- resultType 에 복수형(ArrayList 등)을 적는게 아님. 
	그냥 dto 단수의 경로를 적어야됨. -->
	<select id = "getList" resultType="com.spring.dto.GuestDto">
		SELECT * from tbl_guest
	</select>
	<select id = "read" resultType = "com.spring.dto.GuestDto">
		select * from tbl_guest where bno = #{bno}
	</select>
	<select id = "del">
		delete from tbl_guest where bno = #{bno}
	</select>
	<select id = "write" resultType = "com.spring.dto.GuestDto">
		insert into tbl_guest(btext) value(#{btext})
	</select>
	<select id = "modify" resultType = "com.spring.dto.GuestDto">
		update tbl_guest set btext = #{btext} where bno = #{bno}
	</select>
</mapper>