.traitTier1 {
    background-image: linear-gradient(rgb(85, 48, 0), rgb(168, 95, 0), rgb(85, 48, 0));
}

.traitTier2 {
    background-image: linear-gradient(rgb(112, 112, 112), rgb(170, 170, 170), rgb(112, 112, 112));
}

.traitTier3 {
    background-image: linear-gradient(rgb(255, 173, 135), rgb(221, 104, 50), rgb(255, 173, 135));
}

.traitTier4 {
    background-image: linear-gradient(rgb(158, 148, 0), rgb(236, 221, 0), rgb(158, 148, 0));
}

.traitTier5 {
    background-image: linear-gradient(rgb(165, 227, 255), rgb(72, 206, 144), rgb(165, 227, 255));
}

.playerPlacement1 {
    background-color: rgb(85, 133, 40);
}

.playerPlacement2 {
    background-color: rgb(81, 115, 190);
}

.playerPlacement3 {
    background-color: rgb(81, 115, 190);
}

.playerPlacement4 {
    background-color: rgb(81, 115, 190);
}

.playerPlacement5 {
    background-color: gray;
}

.playerPlacement6 {
    background-color: gray;
}

.playerPlacement7 {
    background-color: gray;
}

.playerPlacement8 {
    background-color: gray;
}

.unitRarity0 {
    color: rgb(206, 206, 206);
}

.unitRarity1 {
    color: rgb(103, 255, 103);
}

.unitRarity2 {
    color: rgb(80, 150, 255);
}

.unitRarity4 {
    color: rgb(203, 73, 255);
}

.unitRarity6 {
    color: rgb(255, 225, 93);
}

.unitRarity9 {
    color: rgb(40, 40, 40);
}