#textareaScreen{
    width: 1000px;
    height: auto;
    display: flex;
    margin: 10px;
}
#rpgScreen{
    width: 400px;
    height: 500px;
    margin: 10px;
}
#infoScreen{
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
}
#playerScreen{
    height: 200px;
    margin: 10px;
}
#objectScreen{
    height: 200px;
    margin: 10px;
}
#roomScreen{
    height: 150px;
    margin: 10px;
}
#turnButton{
    width: 200px;
    height: 50px;
    font-weight: bold;

}
#turnText{
    width: 50px;
    height: 50px;
}
#moveButton{
    width: 50px;
    height: 50px;
}