.main{
    width:auto;
    height:auto;
    margin-left: 140px;
    margin-right: 140px;
}

.profileArea{
    height: 200px;
    margin-bottom: 80px;
    position: relative;
}
#icon{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 120px;
    left: 30px;

    border-style: solid;
    border-width: 2px;
    border-color: navy;
    border-radius: 25%;
}
#level{
    position: absolute;
    top: 180px;
    left:65px;
    width: auto;
    display: inline;
    text-align: center;
    background-color: rgb(223, 223, 223);
    border: 2px solid navy;
    border-radius: 20%;
}
#name{
    position:absolute;
    top:90px;
    left:170px;
}
#refresh{
    width:90px;
    height:50px;
    position: absolute;
    top: 170px;
    left: 170px;

    background-color: rgb(7, 172, 172);
    border: 1px solid navy;
    border-radius: 5%;

    font-size: medium;
    font-weight: 700;
}
.rankArea{
    height: 400px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    background-color: aquamarine;
}
.rankBox{
    width: 30%;
    height: auto;
    position: relative;

    background-color: rgb(188, 230, 230);
}
#regaliaType{
    width: 160px;
    position: absolute;
    left: 50%;
    margin-left: -80px;
    text-align: center;
}
#regaliaImg{
    width:200px;
    height: 200px;
    position: absolute;
    top: 40px;
    left: 25%;
    margin-left: -100px;
}
#regaliaTier{
    width: 150px;
    position: absolute;
    left: 65%;
    top: 20%;
    margin-left: -75px;
    text-align: center;
}
#regaliaPoint{
    width: 100px;
    position: absolute;
    left: 65%;
    top:30%;
    margin-left: -50px;
    text-align: center;
}
.recordArea{
    height: auto;
}