@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@100..900&display=swap');

* {
    font-family: "Hahmlet", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(41, 41, 41);
}

.main {
    width: 100%;
    min-height: 50vh;
    justify-items: center;
    align-content: center;
}

.title {
    font-size: 70px;
    font-weight: 700;
    margin: 40px;
}