@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@100..900&display=swap');

* {
    font-family: "Hahmlet", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* 전체 메인 페이지 */
.mainPage {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(41, 41, 41);
    color: rgb(170, 170, 170);
    justify-items: center;
}

.mainImg {
    width: 300px;
    height: 170px;
}

.mainTitle {
    font-size: 70px;
    padding: 40px;
}

.mainSubtitle {
    text-decoration: none;
    font-size: 40px;
    text-align: center;
    color: rgb(170, 170, 170);
}

/* 이외 메인 페이지 */
.body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(41, 41, 41);
    color: rgb(170, 170, 170);
}

.main {
    width: 100%;
    min-height: 50vh;
    justify-items: center;
    align-content: center;
}

.title {
    font-size: 70px;
    font-weight: 700;
    margin: 40px;
}